<%- include('partials/header'); -%>

<form action="/api/signin" method="POST">
  <h2>Login</h2>
  <label for="username">username</label>
  <input type="text" name="username"  />
  <div class="username error"></div>
  <label for="password">Password</label>
  <input type="password" name="password"  />
  <div class="password error"></div>
  <button id="login-btn">login</button>
</form>

<script>
  const loginBtn = document.getElementById('login-btn');
  loginBtn.addEventListener('click', async (e) => {
    e.preventDefault();
    const username = document.querySelector('input[name="username"]').value;
    const password = document.querySelector('input[name="password"]').value;
    const response = await fetch('/api/signin', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ username, password })
    });
    const data = await response.json();
    if (data.user) {
      location.assign('/');
    } else {
      // handle error
    }
  });
</script>
